p{
    color: aquamarine;
    font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: black;
}
h1{
    color: red;
    font-size: 300px;
    font-family: 'Times New Roman', Times, serif;
}